.navbar {
    background-color: #2c2c2e;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-around;
  }
  
  .nav-button {
    color: #a0a0a3;
    text-decoration: none;
    padding: 10px;
    transition: 0.3s ease;
  }
  
  .nav-button:hover {
    color: #ae80ef;
    background-color: #1c1c1e;
    border-radius: 5px;
  }
  